@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  /* --fontColor: #030303; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
* {
  padding: 0;
  /* overflow-x: hidden; */
}

body {
  color: rgb(var(--foreground-rgb));
  --dashedBorder: #343434;
  --borderColor: #343434;
  --borderColorGray: rgb(209 213 219);
  --fontColor: #030303;
  --fontColorGray: rgb(75 85 99);
  --bgColor: white;
  --staticBgColor: rgb(245, 245, 245);
  --bgColorGray: rgb(243 244 246);
  --colorScheme: light;
  --opBgColor: black;
  --opTxtColor: white;
  --opBorderColor: black;
  --productCardBg: rgb(230, 230, 230);
  --whatsappTxt: #25D366;
  /* --scrollbar-track-bg: linear-gradient(to top, #c6c4c6, #d8d8d8, #ececec);*/
  --scrollbar-track-bg: white;
  --scrollbar-thumb-color: #888;
  --scrollbar-thumb-color-hover: #555;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)
  );
}
body.dark{
  --Bg: #343434;
  --bgColor: linear-gradient(to top, #000, #131313, #161616);
  --staticBgColor: #161616;
  --bgColorGray: #343434;
  background: var(--bgColor);
  --opBgColor: #f3f3f3 ;
  --opTxtColor: black;
  --opBorderColor: white;
  --productCardBg: rgb(59, 59, 59) ;
  /* --postCardBgStart: #343434 ;
  --postCardBgEnd: #131313; */
  --fontColor: #f3f3f3;
  --fontColorGray: rgb(209 213 219);
  --colorScheme: dark;
  --dashedBorder: #f3f3f3;
  --borderColor: #f3f3f3;
  --borderColorGray: #8e8e8e;
  --hoveredDarkModeBtnTxtClr: #343434;
  --hoveredDarkModeBtnBg: #f3f3f3;
  --scrollbar-track-bg: linear-gradient(to top, #000, #131313, #161616);;
  /* --scrollbar-track-bg: #666; */
  --scrollbar-thumb-color: rgb(111, 111, 111);
  --scrollbar-thumb-color-hover: #484848;
}

.fontColor {
  color: var(--fontColor);
}
.fontColorGray {
  color: var(--fontColorGray);
}

.borderColor{
  border-color: var(--borderColor);
}
.borderColorGray{
  border-color: var(--borderColorGray);
}
.dashedBorder{
  border: 2px dashed var(--dashedBorder);
}
.bgColor{
  background-color: var(--bgColor);
}
.staticBgColor{
  background-color: var(--staticBgColor);
}
.bgColorGray{
  background-color: var(--bgColorGray);
}
.opBgColor{
  background-color: var(--opBgColor);
}
.opTxtColor{
  color: var(--opTxtColor);
}
.opBorderColor{
  border-color: var(--opBorderColor);
}
.selected { /*for the pill shaped cards in the Admin/Products > createProductForm*/
  border: 2px solid blue;
}
.darkModebtnBg{
  background-color: var(--Bg);
}
.darkModebtnBg:hover{
  background-color: var(--hoveredDarkModeBtnBg);
  color: var(--hoveredDarkModeBtnTxtClr);
}
.colorScheme{
  color-scheme: var(--colorScheme);
}
.productCardBg{
  background-color: var(--productCardBg);
}

/* Standard scrollbar styles (for larger devices) */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scrollbar-track-bg);
  border-radius: 5px; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color);
  border-radius: 5px; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-color-hover);
} 

/* Media query for small devices */
@media (max-width: 768px) {
  /* Reset scrollbar styles for small devices */
  ::-webkit-scrollbar {
    width: 1px;
  }
  
  /* Reset scrollbar track styles */
  ::-webkit-scrollbar-track {
    background: initial;
    border-radius: initial;
  }
  
  /* Reset scrollbar thumb styles */
  ::-webkit-scrollbar-thumb {
    background: initial;
    border-radius: initial;
  }
  
  /* Reset scrollbar thumb hover styles */
  ::-webkit-scrollbar-thumb:hover {
    background: initial;
  }
}

.tooltip {
  position: absolute;
  bottom: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 1;
}
.bgColorTransition {
  animation: colorChange 1.5s infinite alternate; /* You can adjust the duration and animation type as needed */
}
@keyframes colorChange {
  0% {
    background-color: var(--bgColorGray);
  }
  100% {
    background-color: whitesmoke;
  }
}
/* Project Form */
.form {
  @apply flex-col w-full lg:pt-24 pt-12 gap-10 text-lg max-w-5xl mx-auto;
}
.form_image-container {
  @apply w-3/4 lg:min-h-[200px] min-h-[100px] relative;
}

.form_image-label {
  @apply z-10 text-center w-1/4 h-1/4 p-20 dashedBorder rounded-full aspect-square;
}

.form_image-input {
  @apply absolute z-30 opacity-0 cursor-pointer w-full h-full rounded-full;
}

/* Profile Projects */
.profile_projects {
  @apply grid xl:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-8 mt-5;
}

.flexStart {
  @apply flex items-center justify-start;
}
.flexCenter {
  @apply flex justify-center items-center;
}

/* Define the initial state for the button */
.scrollButton {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Define the styles for when the button is visible */
.show-button {
  opacity: 1;
  transform: translateY(0);
}

/* Define the styles for when the button is hidden */
.hide-button {
  opacity: 0;
  transform: translateY(20px);
}

.focus-glow {
  box-shadow: 0 0 10px rgba(75, 192, 217, 0.5); /* Add your desired box-shadow properties */
  transition: box-shadow 0.3s ease; /* Add a transition for a smooth effect */
}

.carousel .slide{
  background: none!important;
  border: none;
}
